.wrapper {
    font-size: 15.5px;
    min-width: 100px;
    min-height: 36px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none; // Dùng cho việc người dùng ko thể select chữ từ cái Button.

    // Space between buttons
    margin-left: 16px;
}

//  ===== Button Types: =====
.primary {
    font-weight: 700;
    background-color: var(--primary);
    color: white;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.normal {
    font-weight: 600;
    min-width: 110px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: white;

    svg {
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.outline {
    font-weight: 600;
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: white;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.iconic {
    font-size: 20px;
    background-color: white;
}

.rounded {
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: white;
}

.menu {
    width: 100%;
    min-height: 42px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
    padding-left: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: white;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// ===== Disabled: =====
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

// ===== Button Size: =====
.small {
    min-width: 88px;
    min-height: 28px;
}

.large {
    min-width: 208px;
    min-height: 48px;
}

.iconSize_one {
    min-width: 28px;
    min-height: 20px;
}
