// MENU WRAPPER
.menu-list {
    width: 224px;

    // MENU ITEMS
    .menu-item {
        margin-left: 0;
        width: 100%;
    }
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: inline-block;
    text-align: center;
}

.menu-title {
}

.menu-mode {
    margin-left: 40px;
}
